
<div class="container-fluid mb-5">
<h1>Enrollement works</h1>
<form #userform="ngForm" (ngSubmit)="Submit()" novalidate>
    {{userform.form.valid}}
    <hr>
   {{usermodel | json}}
    <div class="form-group">
        <label>Name</label>
        <input type="text" required #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched"
         class="form-control" name="name" [(ngModel)]="usermodel.name">
         <small [class.d-none]="name.valid || name.untouched">
             Name is required
         </small>
    </div>
 
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="usermodel.email"  
        required [class.is-invalid]="email.invalid" class="form-control" >
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">
            Email is not matched
        </small>
    </div>
 
    <div class="form-group">
        <label>Mobile No</label>
         <input type="tel" name="phone" #phone="ngModel" required [(ngModel)]="usermodel.phone" >
         
     </div>
    <div class="form-group">
        <label>Select a topic</label>
         <select  (blur)="Func(topic.value)" (change)="Func(topic.value)" [class.is-invalid]="topichaserror && topic.touched" required name="topic" #topic="ngModel"
          [(ngModel)]="usermodel.topic" class="custom-select" >
            <option selected>Iam intersted in</option>
            <option *ngFor="let topic of topics">{{topic}}</option>
         </select>
         <small [class.d-none]="!topichaserror || topic.untouched">
            topic to be selected
         </small>
    </div>
    
   

    
    <button class="btn btn-primary" type="submit" [disabled]="userform.form.invalid">Submit </button>
</form>
</div>
